# Acheivement 6: task 6.1

## Chocolate bar ratings

### 01 Import libraries

In [19]:
#importing libraries
import pandas as pd
import numpy as np
import os

### 02 Import data

In [20]:
#creating path
path = r"C:\Users\Sreelaya Narla\Desktop\Achievement 6\chocolate bar ratings analysis"

In [21]:
# Full file path
file_path = os.path.join(path, '02 data', 'original data', 'flavors_of_cacao.csv')

# Load CSV
df = pd.read_csv(file_path, index_col=False)

In [22]:
# Check first few rows
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [24]:
df.describe()

               REF  Review\nDate       Rating
count  1795.000000   1795.000000  1795.000000
mean   1035.904735   2012.325348     3.185933
std     552.886365      2.927210     0.478062
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     2.875000
50%    1069.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

In [25]:
df.shape

(1795, 9)

In [26]:
df.dtypes

Company \n(Maker-if known)            object
Specific Bean Origin\nor Bar Name     object
REF                                    int64
Review\nDate                           int64
Cocoa\nPercent                        object
Company\nLocation                     object
Rating                               float64
Bean\nType                            object
Broad Bean\nOrigin                    object
dtype: object

### 03 completeness

In [27]:
#check for missing values
df.isnull().sum()

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           1
Broad Bean\nOrigin                   1
dtype: int64

In [28]:
#missing values are: Bean\nType: 1 missing, Broad Bean\nOrigin: 1 missing 
#Fill with "Unknown" – makes it easier for grouping and analysis

df['Bean\nType'] = df['Bean\nType'].fillna('Unknown')
df['Broad Bean\nOrigin'] = df['Broad Bean\nOrigin'].fillna('Unknown')

In [29]:
#check duplicates
df.duplicated().sum()

0

### 04 accuracy and consistency checks

In [30]:
# Cleaning the 'Cocoa Percent' column: remove '%' sign and convert values to float
df['Cocoa\nPercent'] = df['Cocoa\nPercent'].str.replace('%', '').astype(float)

In [31]:
df['Cocoa\nPercent'].head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   float64
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1795 non-null   object
 8   Broad Bean
Origin                 1795 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

In [33]:
# Clean column headers
df.rename(
    columns=lambda x: x.strip().replace("\n", " ").replace(" ", "_"),
    inplace=True
)

# Check actual column names after cleaning
print(df.columns.tolist())

['Company\xa0_(Maker-if_known)', 'Specific_Bean_Origin_or_Bar_Name', 'REF', 'Review_Date', 'Cocoa_Percent', 'Company_Location', 'Rating', 'Bean_Type', 'Broad_Bean_Origin']

In [34]:
# Clean column headers properly
df.rename(
    columns=lambda x: x.strip().replace("\n", " ").replace(" ", "_").replace("\xa0", ""),
    inplace=True
)

# Verify cleaned column names
print(df.columns.tolist())

['Company_(Maker-if_known)', 'Specific_Bean_Origin_or_Bar_Name', 'REF', 'Review_Date', 'Cocoa_Percent', 'Company_Location', 'Rating', 'Bean_Type', 'Broad_Bean_Origin']

In [35]:
# List of text columns to clean
text_columns = [
    "Company_(Maker-if_known)",
    "Specific_Bean_Origin_or_Bar_Name",
    "Company_Location",
    "Bean_Type",
    "Broad_Bean_Origin"
]

# Clean each: strip spaces + standardize capitalization
for col in text_columns:
    df[col] = df[col].astype(str).str.strip().str.title()

# Verify changes
df[text_columns].head(10)

,Company_(Maker-if_known),Specific_Bean_Origin_or_Bar_Name,Company_Location,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,France,,Sao Tome
1,A. Morin,Kpime,France,,Togo
2,A. Morin,Atsane,France,,Togo
3,A. Morin,Akata,France,,Togo
4,A. Morin,Quilla,France,,Peru
5,A. Morin,Carenero,France,Criollo,Venezuela
6,A. Morin,Cuba,France,,Cuba
7,A. Morin,Sur Del Lago,France,Criollo,Venezuela
8,A. Morin,Puerto Cabello,France,Criollo,Venezuela
9,A. Morin,Pablino,France,,Peru

In [37]:
#Verify consistency in cocoa %
df['Cocoa_Percent'].describe()

count    1795.000000
mean       71.698329
std         6.323118
min        42.000000
25%        70.000000
50%        70.000000
75%        75.000000
max       100.000000
Name: Cocoa_Percent, dtype: float64

### 05 check for outliers

##### Columns to check for outliers

Cocoa_Percent (numeric, % of cocoa)
Should normally be between 30% and 100%.
Anything below 30 or above 100 would be suspicious.

Rating (numeric, chocolate rating)
Usually between 1.0 and 5.0 (as per dataset description).
Anything outside this range = anomaly.

Review_Date (numeric, year of review)
From 2006 to 2017 in this dataset.
Check if any year falls outside.

In [36]:
# Cocoa percent outliers
print("Cocoa Percent outliers:")
print(df[(df['Cocoa_Percent'] < 30) | (df['Cocoa_Percent'] > 100)][['Company_(Maker-if_known)', 'Cocoa_Percent']])

# Rating outliers
print("\nRating outliers:")
print(df[(df['Rating'] < 1) | (df['Rating'] > 5)][['Company_(Maker-if_known)', 'Rating']])

# Review Date outliers
print("\nReview Date outliers:")
print(df[(df['Review_Date'] < 2000) | (df['Review_Date'] > 2025)][['Company_(Maker-if_known)', 'Review_Date']])

Cocoa Percent outliers:
Empty DataFrame
Columns: [Company_(Maker-if_known), Cocoa_Percent]
Index: []

Rating outliers:
Empty DataFrame
Columns: [Company_(Maker-if_known), Rating]
Index: []

Review Date outliers:
Empty DataFrame
Columns: [Company_(Maker-if_known), Review_Date]
Index: []

##### dataset is clean with respect to those key numeric ranges:

Cocoa_Percent → all values are between 30% and 100%

Rating → all values are between 1.0 and 5.0

Review_Date → all values are within 2006–2017

### 06 Basic statistics

Numeric variables: count, mean, standard deviation, min, max, quartiles.

Categorical variables: number of unique values, and the top 5 most frequent categories.

In [38]:
# 1. Numeric columns descriptive stats
numeric_cols = ['REF', 'Review_Date', 'Cocoa_Percent', 'Rating']
print("=== Numeric Columns Summary ===")
print(df[numeric_cols].describe())

# 2. Categorical columns basic info
categorical_cols = ['Company_(Maker-if_known)', 'Specific_Bean_Origin_or_Bar_Name', 
                    'Company_Location', 'Bean_Type', 'Broad_Bean_Origin']
print("\n=== Categorical Columns Summary ===")
for col in categorical_cols:
    print(f"\nColumn: {col}")
    print("Number of unique values:", df[col].nunique())
    print("Top 5 most frequent values:\n", df[col].value_counts().head(5))

=== Numeric Columns Summary ===
               REF  Review_Date  Cocoa_Percent       Rating
count  1795.000000  1795.000000    1795.000000  1795.000000
mean   1035.904735  2012.325348      71.698329     3.185933
std     552.886365     2.927210       6.323118     0.478062
min       5.000000  2006.000000      42.000000     1.000000
25%     576.000000  2010.000000      70.000000     2.875000
50%    1069.000000  2013.000000      70.000000     3.250000
75%    1502.000000  2015.000000      75.000000     3.500000
max    1952.000000  2017.000000     100.000000     5.000000

=== Categorical Columns Summary ===

Column: Company_(Maker-if_known)
Number of unique values: 416
Top 5 most frequent values:
 Company_(Maker-if_known)
Soma        47
Bonnat      27
Fresco      26
Pralus      25
A. Morin    23
Name: count, dtype: int64

Column: Specific_Bean_Origin_or_Bar_Name
Number of unique values: 1038
Top 5 most frequent values:
 Specific_Bean_Origin_or_Bar_Name
Madagascar            57
Peru                  45
Ecuador               42
Dominican Republic    37
Venezuela             21
Name: count, dtype: int64

Column: Company_Location
Number of unique values: 60
Top 5 most frequent values:
 Company_Location
U.S.A.    764
France    156
Canada    125
U.K.       96
Italy      63
Name: count, dtype: int64

Column: Bean_Type
Number of unique values: 42
Top 5 most frequent values:
 Bean_Type
                        887
Trinitario              419
Criollo                 153
Forastero                87
Forastero (Nacional)     52
Name: count, dtype: int64

Column: Broad_Bean_Origin
Number of unique values: 101
Top 5 most frequent values:
 Broad_Bean_Origin
Venezuela             214
Ecuador               193
Peru                  165
Madagascar            145
Dominican Republic    141
Name: count, dtype: int64

In [43]:
# Total number of reviews
total_reviews = len(df)

# Total number of unique bars
unique_bars = df['REF'].nunique()

print(f"Total reviews: {total_reviews}")
print(f"Unique bars: {unique_bars}")
print(f"Average reviews per bar: {total_reviews / unique_bars:.2f}")

Total reviews: 1795
Unique bars: 440
Average reviews per bar: 4.08

### 07 Exporting Dataframe

In [39]:
#export the dataframe without the index
df.to_csv(os.path.join(path, '02 data', 'prepared data', 'cleaned_flavors_of_cacao.csv'), index=False)

noticed blanks in excel for few columns

In [40]:
# Columns to check
columns_to_check = ['Bean_Type', 'Broad_Bean_Origin']

for col in columns_to_check:
    # Count blanks (NaN or empty/whitespace)
    blank_count = df[col].isna().sum() + (df[col].str.strip() == '').sum()
    print(f"{col} - number of blanks: {blank_count}")
    
    # Display rows with blanks
    blank_rows = df[df[col].isna() | (df[col].str.strip() == '')]
    if not blank_rows.empty:
        print(f"Rows with blank {col}:\n", blank_rows[['REF', 'Review_Date', col]])
    else:
        print(f"No blanks found in {col}.")
    print("-"*50)

Bean_Type - number of blanks: 887
Rows with blank Bean_Type:
        REF  Review_Date Bean_Type
0     1876         2016
1     1676         2015
2     1676         2015
3     1680         2015
4     1704         2015
...    ...          ...       ...
1787   879         2012
1789   883         2012
1790   647         2011
1793   781         2011
1794   486         2010

[887 rows x 3 columns]
--------------------------------------------------
Broad_Bean_Origin - number of blanks: 73
Rows with blank Broad_Bean_Origin:
        REF  Review_Date Broad_Bean_Origin
77     111         2007
85     170         2007
86      40         2006
87      75         2006
144   1474         2015
...    ...          ...               ...
1766  1582         2015
1774  1780         2016
1778  1205         2014
1780   801         2012
1789   883         2012

[73 rows x 3 columns]
--------------------------------------------------

In [41]:
# Fill blanks (NaN or empty/whitespace) with 'Unknown'
columns_to_fill = ['Bean_Type', 'Broad_Bean_Origin']

for col in columns_to_fill:
    # Replace NaN with empty string first to handle both NaN and blank
    df[col] = df[col].fillna('')  
    # Replace blanks (empty or whitespace) with 'Unknown'
    df[col] = df[col].apply(lambda x: 'Unknown' if str(x).strip() == '' else x)

# Verify
df[columns_to_fill].isna().sum()

Bean_Type            0
Broad_Bean_Origin    0
dtype: int64

In [42]:
#export the dataframe without the index
df.to_csv(os.path.join(path, '02 data', 'prepared data', 'cleaned_flavors_of_cacao.csv'), index=False)